<form [formGroup]="registerForm" (ngSubmit)="register()">
    <h2>Registro de club</h2>

    <p *ngIf="message !== ''" [textContent]="message"></p>


    <label>Email</label>
    <input formControlName="email" type="text" name="email" required>

    <br>

    <label>Contraseña</label>
    <input formControlName="password" type="password" name="password" required>

    <br>

    <label>Confirma la contraseña</label>
    <input formControlName="password_confirm" type="password" name="password_confirm" required>
    
    <br>

    <label>Nombre del club</label>
    <input formControlName="name" type="text" name="name" required>
    
    <br>

    <label>Código postal</label>
    <input formControlName="zip_code" type="text" name="zip_code" required>

    <label>Número de contacto</label>
    <input formControlName="contact" type="text" name="contact" required>
    
    <br>

    <button type="submit">Registrar</button>
</form>