<div class="profile-container">
    <div class="profile-resume">
        <div class="photo">
            <img [src]="this.playerData.img">
        </div>
        <div class="profile-data">
            <h2 [textContent]="this.playerData.name + ' ' + this.playerData.last_name"></h2>
            <p [textContent]="this.playerData.description"></p>
        </div>
        <div class="options">
            <button (click)="deleteAccount()">Borrar cuenta</button>
            <button (click)="logout()">Logout</button>
        </div>
    </div>
    <div class="stats">
        <div class="graphics">
            <p>Aquí irían las estadísticas</p>
            <button>Actualizar habilidades</button>
        </div>
        <div class="aditional-data">
            <p>Altura: 1,73m</p>
            <p>Peso: 62.2kg</p>
        </div>
    </div>
</div>
<div class="update-form">
    <app-update-player></app-update-player>
</div>