<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /><div class="options">
    <input type="text">
    <button>Buscar</button>
    <br>
    @if (this.addForm) {
        <button (click)="hide('add')">Ocultar formulario</button>
    } @else {
        <button (click)="show('add')">Crear equipo</button>
    }
    <br>
    @if (this.requestsForm) {
        <button (click)="hide('requests')">Ocultar formulario</button>
    } @else {
        <button (click)="show('requests')">Solicitudes</button>
    }
</div>
@if (this.addForm) {
    <div class="addForm">
        <app-add-team></app-add-team>
    </div>
} 
@if(this.requestsForm) {
    <div class="requests">
        <p>Solicitudes</p>
    </div>
}
<div class="teams-container">
    @if (this.teams.length == 0) {
        <p>¡Crea tus equipos!</p>
    } @else {
        <div *ngFor="let team of teams" class="team-card">
            <div class="options">
                <h3>{{ team.name }}</h3>
                <span class="material-symbols-outlined" (click)="leaveTeam(team.id)">exit_to_app</span>
                <span class="material-symbols-outlined">edit</span>
                <span class="material-symbols-outlined">person_add</span>
            </div>
            <p><strong>Categoría:</strong> {{ team.category }}</p>
            <p><strong>Tipo:</strong> {{ team.type }}</p>
            <p><strong>Miembros:</strong></p>
            <ul>
                <li *ngFor="let member of team.members">
                    <img [src]="member.img">
                    {{ member.name }}
                </li>
            </ul>
        </div>
    }
</div>