
<form>
    <h2>Registro de usuario</h2>

    <div class="inputs">
        <div class="login-data">
            <label>Email</label>
            <input type="text" name="email" required>
            
            <br>

            <label>Contraseña</label>
            <input type="password" name="password" required>

            <br>

            <label>Confirma la contraseña</label>
            <input type="password" name="password_confirm" required>
        </div>
        <div class="other-data">
            <label>Nombre</label>
            <input type="text" name="name" required>

            <br>

            <label>Apellidos</label>
            <input type="text" name="last_name" required>
        </div>
    </div>  
    <br>
    <button>Registrar</button>
</form>