<div class="profile-container">
    <div class="profile-resume">
        <div class="photo">
            <img src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg">
        </div>
        <div class="profile-data">
            <h2>John Doe</h2>
            <p>Soy un jugador nuevo que he empezado a jugar en el club de colmenar viejo, en primera nacional senior masculino. Juego de todo menos de colocador, aunque si me guataría aprender a colocar.</p>
        </div>
    </div>
    <div class="stats">
        <div class="graphics">
            <p>Aquí irían las estadísticas</p>
            <button>Actualizar habilidades</button>
        </div>
        <div class="aditional-data">
            <p>Altura: 1,73m</p>
            <p>Peso: 62.2kg</p>
        </div>
    </div>
</div>
<div class="update-form">
    <app-update-player></app-update-player>
    <!--Aquí se escribiran los componentes según el type-->
</div>