form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.login-data, .other-data {
    display: flex;
    flex-direction: column;
}

.register {
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(58, 65, 254);
    padding: 3%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}